# macOS system files
.DS_Store

# Environment variables
.env
.env.local

# Common build & package artifacts
node_modules/
dist/
build/
__pycache__/
*.pyc

# Python tooling
.venv/
.pytest_cache/
.streamlit/secrets.toml
